<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WeatherApp.Properties.Settings>
            <setting name="APIKEY_LOCATION" serializeAs="String">
                <value>AIzaSyA_DVQeGcPNqwVa7kUQouXEglpJxshdRW4</value>
            </setting>
            <setting name="APIKEY_IMAGES" serializeAs="String">
                <value>AIzaSyCwrelRTicpN6FI7he5-gxhBo9ZQDEhih4</value>
            </setting>
        </WeatherApp.Properties.Settings>
    </userSettings>
</configuration>